## Variables y Tipos de Datos

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [2]:
num = 10; 
print(num);

10

2) Imprimir el tipo de dato de la variable 8.5

In [3]:
print(type(8.5));

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [4]:
print(type(num));

<class 'int'>

4) Crear una variable que contenga tu nombre

In [1]:
nombre= "Guille";

5) Crear una constante que contenga el número Pi

In [2]:
PI = 3.1416;

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [3]:
print(type(PI));

<class 'float'>

7) Crear una variable que contenga el valor del número **e** redondeado a 4 decimales

In [4]:
E = 2.7182818284; 
redondeado = round(E,4); 
print(redondeado);

2.7183

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [5]:
verdadero1 = 'True'; 
verdadero2 = True;

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [16]:
print(type(verdadero1)); 
print(type(verdadero2));

<class 'str'>
<class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [17]:
num1 = 15; 
num2 = 18.36; 

suma = num1 + num2;

11) Realizar una operación de suma de un número definido como string con un entero

In [18]:
numero1 = "15"; 
numero2 = 15; 

sum = numero1 + numero2;

TypeError: can only concatenate str (not "int") to str

12) Crear una variable que contenga el valor del punto 7 elevado a la 3

In [19]:
num_elevado = redondeado ** 3; 
print(num_elevado);

20.085939737487003

13) Pedir al usuario que ingrese un número por teclado y realizar una operación de multiplicación

In [3]:
num = int(input("ingrese un numero: ")); 
mult = num * 20;
print(mult);

100

14) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [7]:
entero = 27/4; 
print(entero);

6.75

15) De la división anterior solamente mostrar la parte entera

In [8]:
cociente = 27 // 4; 
print(cociente);

6

16) De la división de 27 entre 4 mostrar solamente el resto

In [10]:
resto_div = 27 % 4; 
print(resto_div);

3

17) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [11]:
operacion= (cociente * 4) + resto_div; 
print(operacion);

27

18) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [15]:
num_cadena =  "2"; 
num_ent = 2; 

print(type(num_cadena)); 
print(type(num_ent));

<class 'str'>
<class 'int'>

19) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [18]:
num_a_entero = int(num_cadena); 

print(type(num_a_entero));

<class 'int'>

20) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [ ]:
#Porque esta con coma en lugar de punto.

21) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos fueran del mismo tipo, siempre arrojaría el mismo resultado?

In [21]:
num_1= 2; 
num_2 = "2"; 
sumas = num_1 + num_2; 
#Nos tira error porque son de distintos tipos, si fueran ambos int  daria como resultado 4 y si fueran ambos string darian como resultado una cocatenacion;

22

22) Crear una variable que contenga un menú con los elementos '1 - Pizza', '2 - Empanadas', '3 - Milanesas', '4 - Salir', y luego mostrarlo por pantalla

In [22]:
menu="""
MENU
1) Pizza        2) Empanadas
3) Milanesas    4) Salir
"""
print(menu)

MENU
1) Pizza        2) Empanadas
3) Milanesas    4) Salir

23) Crear una lista que contenga los números del 1 al 10

In [25]:
list = [1,2,3,4,5,6,7,8,9,10];

24) Imprimir el penultimo elemento de la lista creada en el punto 23

In [27]:
print(list[-2]);

9

25) Modificar el tercer elemento de la lista creada en el punto 23 poniendo tu nombre

In [28]:
list[3]= "Guille"; 
print(list[3]);

Guille

26) Construir una matriz de 3x3 que contenga las letras A, B, C, D, E, F, G, H, I

In [40]:
matriz = [["A","B","C"],["D","E","F"],["G","H","I"]];

27) Imprimir la matriz creada en el punto 26

In [41]:
print(matriz);

[['A', 'B', 'C'], ['D', 'E', 'F'], ['G', 'H', 'I']]

28) Modificar la letra E de la matriz y colocar la letra Z

In [42]:
matriz[1][1]; 
print(matriz[1][1]);
matriz[1][1]="Z";
print(matriz[1][1]);

E
Z

29) Cambiar las primeras 3 letras de la matriz por los números 1, 2 y 3

In [46]:
matriz[0][0] = 1; 
matriz[0][1] = 2; 
matriz[0][2] = 3;

print(matriz[0][0]); 
print(matriz[0][1]); 
print(matriz[0][2]);

1
2
3

30) Crear una tupla que contenga 5 marcas de ropa

In [48]:
mi_tuple = ("Zara","Adidas","Nike","Clother","La Coste");

31) Imprimir el primer elemento de la tupla creada en el punto 30

In [50]:
print(mi_tuple[0]);

Zara

32) Intenta modificar el segundo elemento de la tupla. ¿Por qué no se puede?

In [52]:
mi_tuple[1]="Puma";
#Una vez creada la tupla, no se pueden agregar, eliminar o modificar los elementos.

33) Crear un diccionario que contenga las claves 'nombre', 'apellido', 'edad' y 'hobbies' y asignarle los valores correspondientes (los hobbies deben ser una lista con al menos 3 elementos)

In [54]:
datos_personales = {"nombre":"Guille","apellido":"Natel","edad":21,"hobbies":["escuchar musica","ver peliculas","bailar"]};

34) Imprimir el valor de la clave 'hobbies' del diccionario creado en el punto anterior

In [55]:
hobbies = datos_personales.get("hobbies"); 
print(hobbies);

['escuchar musica', 'ver peliculas', 'bailar']

35) Modificar el valor de la clave 'edad' del diccionario y mostrarlo por pantalla

In [56]:
datos_personales["edad"] = 22; 
print(datos_personales.get("edad"));

22